.car-video-container {
    width: 33.33%;
    float: left;
    height: 100vh;
    overflow: hidden;
  }
  
  .r1svid {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .map-container {
    width: 66.67%;
    float: left;
    height: 100vh;
    overflow: hidden;
  }

  .static-image {
    position: absolute;
    bottom: 0;
    right: 180px;
    left: 630px;
    width: 50%;
    height: 20vh;
    object-fit:fill;
    border-radius: 10px;
  }
  
  .subpanel-container {
    width: 30%;
    height: 20%;
    background-color: #5e5d63;
    position: absolute;
    top: 10px;
    left: 25px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.9;
  }
  
  .subpanel-container p {
    margin: 0;
  }
  
  .mph-container {
    text-align: center;
    margin-bottom: 10px;
    font-family:'Calibri', sans-serif;    
  }
  
  .speed {
    font-size: 70px;
    color:aliceblue;
  }

  .mph {
    font-size: 30px;
    transform: translateX(-18px);
    font-weight: lighter;
    color:aliceblue;
  }
  
  .status-container {
    display: flex;
    justify-content: space-between;
    font-family:'Calibri', sans-serif;    
  }
  
  .prndl {
    font-size: 30px;
    font-weight: lighter;
    color:aliceblue;
  }
  
  .battery {
    font-size: 30px;
    font-weight: lighter;
    color:aliceblue;
  }